.light {
    font-weight: 200;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

.section1 {
    margin-bottom: 8rem;
}

.grid-outer1 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(3, auto);
    gap: 2rem;
}

.grid-outer2 {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, auto);
    gap: 2rem;
}

.grid-inner {
    display: grid;
    grid-template-columns: 100px 400px;
    grid-template-rows: repeat(5, auto);
}

.grid-heading {
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--poppins);
}
.grid-heading2 {
    margin-top: 4rem;
}

.grid1 {
    grid-row: 1;
}
.grid2 {
    grid-row: 2;
}

.grid3 {
    grid-row: 3;
}

.grid4 {
    grid-row: 1;
}

.grid5 {
    grid-row: 2;
}
.grid6 {
    grid-row: 3;
}

.grid7 {
    grid-row: 4;
}

.year {
    font-family: var(--noto);
    font-size: 14px;
    grid-column: 1;
}
.start {
    grid-row: 2/5;
}

.edu {
    grid-column: 2;
    font-family: var(--poppins);
    font-size: 14px;
}

.name {
    grid-row: 1;
}
.place {
    grid-row: 2;
}
.desc {
    grid-row: 3;
}

@media (max-width: 500px) {
    .edu {
        grid-column: 1;
    }
    .grid-wrapper {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .grid-outer1 {
        grid-template-columns: 1;
        grid-template-rows: repeat(4, auto);
        gap: 2rem;
    }
    .grid-inner {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, 40px) 80px;
    }

    .grid1 {
        grid-row: 1;
    }
    .grid2 {
        grid-row: 2;
    }

    .grid3 {
        grid-row: 3;
    }

    .grid4 {
        grid-row: 1;
    }

    .grid5 {
        grid-row: 2;
    }
    .grid6 {
        grid-row: 3;
    }

    .grid7 {
        grid-row: 4;
    }
    .name {
        grid-row: 1;
    }
    .place {
        grid-row: 2;
    }
    .desc {
        grid-row: 3;
    }
    .end {
        grid-row: 4;
    }
    .start {
        grid-row: 5;
    }
}
